<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    mi nombre es Matias Nava y soy estudiante de ingenieria civil de la UNLP, me encuentro transitando el ultimo año y queria sumar herramientas de programacion
    <br>
    si bien no tiene mucho que ver con la carrera, el curso me parecio divertido y a su vez creativo, ya que se debe usar la logica y en el proceso pude aprender
    ademas de python, cosas extra como html, css, django, git y visualStudioCode que son muy importantes en la programacion.
    desde ya muchas gracias a todos los tutores por el tiempo y la paciencia, ya que tenia cero conocimiento previo.
    Me gustaria poder aplicarlo como hobby o como trabajo secundario en el caso que sea flexible.
    <br>
    <button><a href="{% url 'Inicio' %}"> volver.</a></button>
    

    
</body>
</html>