<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Leo los Clientes</title>
</head>
<body>


    {% for c in contacto %}

     <li>{{c}}</li>
     <a href="{% url 'BorrarContacto' c.nombre_completo %}"> Borrar</a>
     <a href="{% url 'EditarContacto' c.nombre_completo %}"> Editar</a>

    {% endfor %}
    <br>
    <br>
    <a href="contactos">Agregar Cliente</a>

    
</body>
</html>